# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

.idea/
.DS_Store

copy-all-unicode.xsl

inscriptions/ISicilyProject.xpr
inscriptions/ISic1087.xml
inscriptions/ISic1548.xml
inscriptions/ISic1548.xml
